{% if not dir or files.nb_files == 0 %}
<div class="row" id="albums">
  {% for item in files|sort|reverse %}
    {% if item != nb_files %}
      <div class="col">
        <div class="card">
          <div class="card-image">
            {% if dir %}
              <a href="index.php?dir={{ dir }}/{{ item.name }}"><img src="{{ cache_path }}/{{ dir }}/{{ item.name }}/{{ item.first_img }}"></a>
            {% else %}
              <a href="index.php?dir={{ item.name }}"><img src="{{ cache_path }}/{{ item.name }}/{{ item.first_img }}"></a>
            {% endif %}
          </div>
          <div class="card-content">
            <a href="index.php?dir={{ item.name }}"><h5>{{ item.name }}</h5></a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script>
$(document).ready(function() {
    $('#sort_up').click(function() {
        alert('lol');
        $('#sort_down').removeClass('active');
        $('#sort_up').addClass('active');
        $('#albums').sort();
    });

    $('#sort_down').click(function() {
        $('#sort_up').removeClass('active');
        $('#sort_down').addClass('active');
        $('#albums').reverse();
    });
});
</script>
{% else %}

<div class="row">
   <div class="collection col s2">
   {% for item in files|sort %}
      {% if item.is_dir %}
        {% if dir %}
          <a href="index.php?dir={{ dir }}/{{ item.name }}" class="collection-item">{{ item.name }}</a>
        {% else %}
          <a href="index.php?dir={{ item.name }}" class="collection-item">{{ item.name }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="col s12">
    {% for item in files|sort %}
      {% if not item.is_dir %}
        {% if item.extension == 'jpg' or item.extension == 'png' %}
          <div class="col s3" style="margin: 45px">
            <img src="{{ cache_path }}/{{ dir }}/{{ item.name }}" width="250px" class="materialboxed img_item {{ item.transform }}" alt="" id="{{ item.name }}" style="cursor: pointer;">
            <div class="card-content hide-on-med-and-down">
            </div>
          </div>
        {% else %}
          {# Video #}
          {# <img src="images/video-player-250.png" class="video_item" alt="{{ dir }}/{{ item.name }}" id="{{ item.name }}" style="cursor: pointer">#}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<script>
    $(document).ready(function() {
        $('.img_item').click(function() {
            // Toggle already selected images to thumbnail
            //if ($('.img_selected').length > 0) {
            //img_cache_src = $('.img_selected').attr('src').replace("{{ base_path }}", "{{ cache_path }}");
            //$('.img_selected').attr('src', img_cache_src);
            //}
            // replace selected thumbail by big one
            img_src = $(this).attr('src').replace("{{ cache_path }}", "{{ base_path }}");
            //$(this).addClass('img_selected');
            $(this).attr('src', img_src);
        } );
    } );

    $(document).ready(function() {
        $('.video_item').click(function() {
            video_src = $(this).attr('alt');
            $(this).parents('.m4').addClass('m12');
            $(this).parents('.m12').removeClass('m4');
            $(this).parent().html('<video class="video-container img_selected" controls><source src="{{ base_path }}/'+video_src+'" ></video>');
        } );
    } );
</script>
{% endif %}
