{% extends "layout.html" %}

{% block content %}


  {% if messages %}
    <div class="row">
      <div class="col s12">
        <div class="card green lightent-3">
          <div class="card-content white-text">
            <span class="card-title">Info :</span>
            {% for msg in messages %}
              <p>{{ msg }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  {% if user.login %}
    {% include "images.html" %}
  {% else %}
      <br><br>
      <h1 class="header center orange-text">{{ title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">Connectez vous pour accéder au site</h5>
      </div>
      <div class="row center">
        <a href="login.php" id="download-button" class="btn-large waves-effect waves-light orange">Se connecter</a>
      </div>
      <br><br>
  {% endif %}

{% endblock %}
